<%= stylesheet_link_tag "inventories_list" %>
<div class="container">
  <h1>Inventories List</h1>

  <% @inventories.each do |inventory| %>
    <div class="inventory_container">
      <div class="inventory_info">
        <h2><%= link_to inventory.name, user_inventory_path(@user, inventory) %></h2>
        <p><%= button_to "Remove", user_inventory_path(@user, inventory), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button_remove' %></p>
      </div>
      <div class="description">
        <h3><%= inventory.description %></h3>
      </div>
    </div>
  <% end %>
  <%= link_to 'New Inventory', new_user_inventory_path(@user), class: 'button_add' %>
</div>
