<div class="container">
  <h1>Inventory Details</h1>

  <div class="inventory_details">
    <p><strong>Name:</strong> <%= @inventory.name %></p>

    <h2>Added Foods:</h2>
    <ul>
      <% @inventory.inventory_foods.each do |inventory_food| %>
        <li>
          <% if inventory_food.food.present? %>
            <%= inventory_food.food.name %> - Quantity: <%= inventory_food.quantity %>
            <%= button_to 'Remove', user_inventory_inventory_food_path(@user, @inventory, inventory_food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
          <% else %>
            No food information available
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'Back to Inventories List', user_inventories_path(@user) %>
  <h2>Add Food to Inventory</h2>
  <%= link_to 'Add Food', new_user_inventory_inventory_food_path(@user, @inventory), class: 'button' %>
</div>
