<!-- app/views/recipes/_form.html.erb -->
<%= form_with(model: recipe, url: user_recipes_path(@user), method: :post) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.number_field :preparation_time, step: '0.1' %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %>
    <%= form.number_field :cooking_time, step: '0.1' %>
  </div>

  <!-- Add other fields as needed -->

  <div class="actions">
    <%= form.submit 'Create Recipe' %>
  </div>
<% end %>
