<%= stylesheet_link_tag "recipedetails" %>

<div class="container">
  <h1><%= @recipe.name %></h1>
  <div class="details">
    <p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
    <p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
    <p>Description: <%= @recipe.description %></p>
    <p>Public: <%= @recipe.public ? 'Yes' : 'No' %></p>
    <% if @recipe.user == current_user %>
      <%= link_to "Edit Recipe", edit_user_recipe_path(@recipe.user, @recipe), class: "button" %>
      <%= button_to @recipe.public ? "Make Private" : "Make Public", toggle_public_recipe_path(@recipe), method: :patch, class: "button" %>
    <% end %>
  </div>
</div>
