<%= stylesheet_link_tag "recipedetails" %>

<div class="container">
  <h1><%= @recipe.name %></h1>
  <div class="details">
    <p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
    <p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
    <p>Description: <%= @recipe.description %></p>
    <p>Public: <%= @recipe.public ? 'Yes' : 'No' %></p>

    <% if @recipe.user == current_user %>
  <div class="button-group">
    <%= link_to "Generate Shopping List (Coming Soon)", "#", class: "btn btn-primary disabled" %>
    <%= link_to "Add Ingredients", new_recipe_ingredient_path(@recipe), class: "btn btn-primary" %>
  </div>
<% end %>

    <hr>

<h2>Ingredients</h2>

<table class="ingredients-table">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.food_name %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.value %></td>
        <td>
        <%= button_to "Remove", recipe_ingredient_path(@recipe, ingredient), method: :delete, data: { confirm: "Are you sure you want to remove this ingredient?" }, class:"btn btn-danger remove-button" %>
          <%= link_to "Modify", edit_recipe_ingredient_path(@recipe, ingredient), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
