<h1>Add a food 🥓</h1>

<div class="form">
  <%= form_with(model: [@inventory, @food]) do |form| %>
    <%= form.hidden_field :inventory_id, value: @inventory.id %>

    <div>
      <%= form.label :name %> <br />
      <%= form.text_field :name, autocomplete: "off" %>
    </div>

    <div>
      <%= form.label :measurement_unit %> <br />
      <%= form.select :measurement_unit, ['mg', 'gr', 'kg', 'oz', 'lb', 'units'] %>
    </div>

    <div>
      <%= form.label :price %> <br />
      <%= form.number_field :price, in: 1..1000, step: 1, autocomplete: "off" %>
    </div>

    <div>
      <%= form.label :quantity %> <br />
      <%= form.number_field :quantity, in: 1..1000, step: 1, autocomplete: "off" %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
